<IfModule mod_rewrite.c>
  RewriteEngine On
  
  # Remove o trailing slash (opcional)
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule ^(.+)/$ $1 [L,R=301]
  
  # Se o arquivo ou diretório existe, serve normalmente
  RewriteCond %{REQUEST_FILENAME} -f [OR]
  RewriteCond %{REQUEST_FILENAME} -d
  RewriteRule ^ - [L]
  
  # Redireciona todas as outras requisições para index.html
  RewriteRule ^ /index.html [L]
</IfModule>
